In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
# Reading dataset
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Removing unwanted features and handling categorical features
df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)
df['Embarked'] = df['Embarked'].fillna("S")
dum = pd.get_dummies(df[['Sex','Embarked']],drop_first=True)
df.drop(['Sex','Embarked'],axis=1,inplace=True)
df = pd.concat([dum,df],axis=1)
df['Age'] = df['Age'].fillna(df['Age'].median())
df = df[['Sex_male','Embarked_S','Pclass','Age','SibSp','Parch','Fare','Survived']]

In [4]:
# Defining x and y
x = df.drop(['Survived'],axis=1)
y = df['Survived']

# Converting into numpy array
x = pd.DataFrame.to_numpy(x)
y = pd.DataFrame.to_numpy(y)

In [5]:
# Splitting data into train and test
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=1)

In [6]:
class LogisticRegression:
        
    def sigmoid(self, a):
#  Calculating sigmoid = 1 / (1 + e^(-x))
        return 1 / (1 + np.exp(-a))
    
    def fit(self,x,y):
#  Initializing learning rate, no. of iterations, weights and bias 
        global lr,iteration,weights,bias
        lr=0.007
        iteration=20000
        samples,features = x.shape
        weights = np.zeros(features)
        bias = 0
        
#  Gradient Descent
        for i in range(iteration):
#  Calculating y = wx + b
            linear = np.dot(x,weights.transpose()) + bias
            pred = self.sigmoid(linear)
            
            dw = (1 / samples) * np.dot(x.T , (pred - y))
            db = (1 / samples) * np.sum(pred - y)
            
            weights = weights - lr * dw
            bias = bias - lr * db
    
    def predict(self,xt):
        linear = np.dot(xt,weights) + bias
        pred = self.sigmoid(linear)
        final_prediction = []
        for i in pred:
            if(i > 0.5):
                final_prediction.append(1)
            else:
                final_prediction.append(0)
        return final_prediction

In [7]:
# Defining accuracy
def accuracy(actual,pred):
    accuracy = np.sum(actual == pred) / len(actual)
    return accuracy

In [8]:
# Calling LogisticRegression class and then fitting data
classifier = LogisticRegression()
classifier.fit(xtrain,ytrain)

In [9]:
# Predicting test data
pred = classifier.predict(xtest)

In [10]:
# Printing Accuracy
accuracy(ytest,pred)

0.7649253731343284